<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Scraper</title>
</head>
<body>
    <h1>Recipe Scraper</h1>
    <form action="/scrape" method="post">
        <label for="query">Enter recipe query:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Get Recipe and Scrape ASDA</button>
    </form>
    
    {% if recipe %}
    <h2>Recipe</h2>
    <p>{{ recipe }}</p>
    
    {% if data %}
    <h2>Scraped Data from ASDA</h2>
    <ul>
        {% for item in data %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
</body>
</html>
